@font-face {
    font-family: 'work-sans';
    src: url('WorkSans-VariableFont_wght.ttf');
}

*{
    font-family: 'work-sans';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.rtl{
    direction: rtl;
}

nav{
    width: 100%;
    padding-left: 7%;
    padding-right: 7%;
    background-color: transparent;
}

.nav-text{
    opacity: 30%;
    color: #fff;
}

.brand-name{
    font-size: 2rem;

}


.navbar{
    background-color: transparent !important;
}

.nav-item{
    margin-right: 1rem;
}

.nav-item:hover{
    color: rgb(177, 177, 177) !important;
    opacity: 100%;
}

header{
    height: 100vh;
}

.block-1{
    width: 100%;
    height: 100%;
    position: relative;
}

.block1-bg{
    position: absolute;
    z-index: -1;
}

.block1-parts{
    background-color: rgba(0, 0, 0, 0.486);
}

.block1-brand{
    font-size: 9rem;
    letter-spacing: 1.2rem;
    background: linear-gradient(0deg, rgba(130,130,130,1) 0%, rgba(255,255,255,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0 !important;
}


.block1-text{
    margin: 0;
    padding: 0;
    color: #fff;
    opacity: 30%;
    font-size: 1.5rem;
}

.block1-start-btn{
    background-color: #659FA0;
    color: #fff;
    font-size: 1.5rem;
    padding: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 0.1rem solid transparent;
    margin-top: 3rem;
}

.block-2{
    background: linear-gradient(0deg, rgba(65,65,65,1) 0%, rgba(19,19,19,1) 48%);
    height: 100vh;
}

.block2-title{
    font-size: 2rem;
    padding-bottom: 1rem;
}

.block2-text{
    width: 50vw;
    text-align: center;
    font-size: 1.35rem;
    padding-bottom: 3rem;
    opacity: 60%;
}

.block-3{
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: rgb(236, 236, 236);
}

.block3-parts{
    width: 80%;
}

.block3-big-post{
    margin-bottom: 1rem;
    height: 10rem;
}

.block3-bigPost-text{
    border-left: 0.5rem solid #659FA0;
    font-size: 0.8rem;
    justify-content: left;
    color: black;
}

.block3-bigPost-text p{
    font-size: 2rem;
}

.block3-Post-text-div{
    background-color: black;
}

.block3-Post-text p{
    font-size: 1.5rem;
}

.block3-post-text-underline{
    background-color: #659FA0;
    height: 0.5rem;
}

.block-4{
    width: 5rem;
    position: relative;
}

.block4-bg{
    position: absolute;
    z-index: -1;
}

.block4-parts{
    background-color: rgba(0, 0, 0, 0.486);
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.fa-telegram-plane , .block4-text{
    font-size: 3rem;
}

.block4-sub-btn{
    background-color: #659FA0;
    color: #fff;
    font-size: 1.2rem;
    padding: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 0.1rem solid transparent;
    height: 4rem;
}

.block4-sub-input{
    width: 40rem;
    height: 4rem;
    outline: none;
    border: 0.1rem solid transparent;
    font-size: 1.3rem;
}

.block4-sub-input::placeholder{
    color: rgba(0, 0, 0, 0.233);
}

.block-5{
background-color: rgba(0, 0, 0, 0.945);
}

.block5-contact-box{
    border-bottom: 0.25rem solid #659FA0;
}

.block5-contact-icon{
    color: #659FA0;
    font-size: 1.5rem;
}

.block5-contact-title{
    border-bottom: 0.25rem solid #659FA0;
}

.block5-contact{
    width: 25%;
    height: auto;
    margin: 0 !important;
    padding: 0 !important;
}

.block5-contact-email{
    color: #659FA0;
}

.block5-social{
    width: 4rem;
    height: 4rem;
    background-color: rgba(54, 54, 54, 0.281);
    font-size: 2rem;
}

@media only screen and (min-width: 992px) {
    .navbar-btns{
        align-items: center;
    }

    .nav-active{
        color: #659FA0 !important;
        padding-bottom: 1rem;
        padding-top: 1.5rem;
        border-bottom: 0.2rem solid #659FA0;
        opacity: 100%;
    }
}

@media only screen and (max-width: 992px) {
    .rtl-mobile{
        direction: rtl;
    }
    
    nav{
        padding-left: 7%;
        padding-right: 5%;
    }

    .brand-name{
        font-size: 1.5rem;
    }

    .menu-toggle-button{
        color: #659FA0 !important;
        border: 0.1rem solid #659FA0 !important;
        font-size: 0.7rem;
    }

    .nav-active{
        color: #659FA0 !important;
        opacity: 100%;
    }

    .block1-brand{
        font-size: 3rem;
        letter-spacing: 1rem;
    }

    .block-2{
        height: 75vh;
    }

    .block2-text{
        width: 75vw;
    }

    .block3-big-post , .block3-post{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .block3-bigPost-img , .block3-Post-img{
        width: 100% !important;
    }

    .block3-bigPost-text-div , .block3-Post-text-div{
        text-align: center !important;
        width: 100% !important;
        padding-top: 2rem;
    }

    .block3-bigPost-text , .block3-Post-text{
        border-color: transparent;
        width: 90%;
    }

    .block3-Post-text-div{
        padding-right: 1rem !important;
        padding-left: 1rem !important;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
    }

    .block3-Post-text{
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }

    .block3-post-text-underline{
        display: none;
    }

    .block4-sub-div{   
    width: 80vw;

    }

    .block5-contact-text{
        font-size: 0.6rem;
    }

}

@media only screen and (max-width: 500px) {
    nav{
        padding-left: 3%;
        padding-right: 0;
    }

    header{
        height: 60vh !important;
    }

    .block1-brand{
        font-size: 2rem;
        letter-spacing: 0.5rem;
    }

    .block1-text{
        font-size: 0.8rem;
    }

    .block1-start-btn{
        font-size: 1.2rem;
    }

    .block-2{
        height: 50vh;
    }

    .block2-title{
        font-size: 1.5rem;
    }

    .block2-text{
        width: 90vw;
        font-size: 1rem;
    }

    .block3-parts{
        width: 95% !important;
    }

    .block4-parts{
        height: 50vh;
        padding-top: 1rem !important;
        padding-bottom: 0 !important;
    }

    .block4-text{
        font-size: 2rem;
    }

    .block4-sub-div{
        flex-direction: column;
    }

    .block4-sub-input{
        width: 80vw;
        margin-bottom: 1rem;
        font-size: 1rem;
    }

    .block5-contact-div{
        flex-direction: column;
    }

    .block5-contact-box{
        width: 90% !important;
        margin-right: 0 !important;
        margin-bottom: 1rem !important;
    }

    .block5-social-div{
        width: 50% !important;
    }

    .block5-contact-text{
        font-size: 1rem;
    }
}